.container {
    position: absolute;
    top: 120px;
    bottom: auto;
    left: 5%;
    right: 5%;
    width: auto;
    height: auto;
    min-width: 380px;
    max-width: 750px;
}

div.google-visualization-tooltip { 
    display: none 
}